<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="classDescriptorResolver"
		class="org.castor.spring.orm.ClassDescriptorResolverFactoryBean">
		<property name="classes">
			<list>
				<value>org.castor.cpa.functional.onetoone.Employee</value>
				<value>org.castor.cpa.functional.onetoone.Address</value>
			</list>
		</property>
	</bean>

	<bean id="JDOManagerInjected"
		class="org.castor.spring.orm.LocalCastorFactoryBean">
		<property name="databaseName" value="OneToOneDescriptorOnly" />
		<property name="configLocation"
			value="classpath:org/castor/cpa/functional/onetoone/jdo-conf.xml" />
		<property name="classDescriptorResolver"
			ref="classDescriptorResolver" />
	</bean>

	<bean id="JDOManagerMapping"
		class="org.castor.spring.orm.LocalCastorFactoryBean">
		<property name="databaseName" value="OneToOneWithMapping" />
		<property name="configLocation"
			value="classpath:org/castor/cpa/functional/onetoone/jdo-conf-mapping.xml" />
	</bean>

    <bean id="classDescriptorResolverWithEmployee"
        class="org.castor.spring.orm.ClassDescriptorResolverFactoryBean">
        <property name="classes">
            <list>
                <value>org.castor.cpa.functional.onetoone.Employee</value>
            </list>
        </property>
    </bean>

	<bean id="JDOManagerMixedAB"
		class="org.castor.spring.orm.LocalCastorFactoryBean">
		<property name="databaseName" value="OneToOneMixedAB" />
		<property name="configLocation"
			value="classpath:org/castor/cpa/functional/onetoone/jdo-conf-mixed-ab.xml" />
		<property name="classDescriptorResolver"
			ref="classDescriptorResolverWithEmployee" />
	</bean>
	
	    <bean id="classDescriptorResolverWithAddress"
        class="org.castor.spring.orm.ClassDescriptorResolverFactoryBean">
        <property name="classes">
            <list>
                <value>org.castor.cpa.functional.onetoone.Address</value>
            </list>
        </property>
    </bean>

    <bean id="JDOManagerMixedBA"
        class="org.castor.spring.orm.LocalCastorFactoryBean">
        <property name="databaseName" value="OneToOneMixedBA" />
        <property name="configLocation"
            value="classpath:org/castor/cpa/functional/onetoone/jdo-conf-mixed-ba.xml" />
        <property name="classDescriptorResolver"
            ref="classDescriptorResolverWithAddress" />
    </bean>

</beans>