<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="classDescriptorResolver"
		class="org.castor.spring.orm.ClassDescriptorResolverFactoryBean">
		<property name="classes">
			<list>
				<value>org.castor.cpa.functional.onetomany.Flat</value>
				<value>org.castor.cpa.functional.onetomany.House</value>
			</list>
		</property>
	</bean>

	<bean id="JDOManagerInjected"
		class="org.castor.spring.orm.LocalCastorFactoryBean">
		<property name="databaseName" value="OneToManyDescriptorOnly" />
		<property name="configLocation"
			value="classpath:org/castor/cpa/functional/onetomany/jdo-conf.xml" />
		<property name="classDescriptorResolver"
			ref="classDescriptorResolver" />
	</bean>

	<bean id="JDOManagerMapping"
		class="org.castor.spring.orm.LocalCastorFactoryBean">
		<property name="databaseName" value="OneToManyWithMapping" />
		<property name="configLocation"
			value="classpath:org/castor/cpa/functional/onetomany/jdo-conf-mapping.xml" />
	</bean>

    <bean id="classDescriptorResolverWithFlat"
        class="org.castor.spring.orm.ClassDescriptorResolverFactoryBean">
        <property name="classes">
            <list>
                <value>org.castor.cpa.functional.onetomany.Flat</value>
            </list>
        </property>
    </bean>

	<bean id="JDOManagerMixedAB"
		class="org.castor.spring.orm.LocalCastorFactoryBean">
		<property name="databaseName" value="OneToManyMixedAB" />
		<property name="configLocation"
			value="classpath:org/castor/cpa/functional/onetomany/jdo-conf-mixed-ab.xml" />
		<property name="classDescriptorResolver"
			ref="classDescriptorResolverWithFlat" />
	</bean>

	    <bean id="classDescriptorResolverWithHouse"
        class="org.castor.spring.orm.ClassDescriptorResolverFactoryBean">
        <property name="classes">
            <list>
                <value>org.castor.cpa.functional.onetomany.House</value>
            </list>
        </property>
    </bean>

    <bean id="JDOManagerMixedBA"
        class="org.castor.spring.orm.LocalCastorFactoryBean">
        <property name="databaseName" value="OneToManyMixedBA" />
        <property name="configLocation"
            value="classpath:org/castor/cpa/functional/onetomany/jdo-conf-mixed-ba.xml" />
        <property name="classDescriptorResolver"
            ref="classDescriptorResolverWithHouse" />
    </bean>
 
</beans>