<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%p] [%t] [%c] - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="castor-log.txt"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="2"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%p] [%t] [%c] - %m%n"/>
        </layout>
    </appender>

    <category name="org.castor">
      <priority value="info" />
    </category>

    <category name="org.castor.cache.simple">
      <priority value="info" />
    </category>
    
    <category name="org.exolab.castor">
      <priority value="info" />
    </category>

    <category name="ptf">
      <priority value="info" />
    </category>
	
    <!-- to set the level to DEBUG for Castor, please replace above with -->
    <!--
    <category name="org.exolab.castor">
      <priority value="debug" />
    </category>
    -->

    <!-- to set the level to DEBUG for e.g. Castor JDO only, please replace above with -->
    <!--
    <category name="org.exolab.castor">
      <priority value="error" />
    </category>

    <category name="org.exolab.castor.jdo">
      <priority value="debug" />
    </category>
    -->

    <root>
        <priority value="error" />
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</log4j:configuration>
