<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%p] [%t] [%c] - %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="castor-xmlctf-log.txt"/>
        <param name="MaxFileSize" value="2MB"/>
        <param name="MaxBackupIndex" value="2"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss.SSS} [%p] [%t] [%c] - %m%n"/>
        </layout>
    </appender>

    <!-- to set the level to ??? for a specific Castor component, please uncomment  -->
    <!--
    <category name="org.exolab.castor">
      <priority value="info" />
    </category>
    -->

    <root>
        <priority value="info" />
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>

</log4j:configuration>